# Base python requirements for docker containers

# Basic package requirements
invoke==1.7.3                   # Invoke build tool
pyyaml==6.0
setuptools==60.0.5
wheel==0.37.1

# Database links
psycopg2==2.9.4
mysqlclient==2.1.1
pgcli==3.5.0
mariadb==1.0.11

# gunicorn web server
gunicorn==20.1.0
